<div class="row-fluid">
  <div class="span3">
    <div class="side-head">
      <h1>
        <div class="avatar">
        <% if @user.role == :research %> 
        <%= image_tag("book.png", size: "32x32", alt: "Researcher") %>

        <% elsif @user.role == :business %>
        <%= image_tag("suitcase.png", size: "32x32", alt: "Business") %>
        
        <% else %>
        <%= image_tag("user.png", size: "32x32", alt: "User") %>

        <% end %>
      </div>
      <div class="avatar">
        <%= @user.first_name + " " + @user.last_name %>
      </div>
      </h1>
    </div>

    <div class="side-info">
      <ul>
        <li>        
          <b>Articles</b> <span><%= @pub_count %></span>
        </li>
        <li>
          <b>Subscribers</b> <span>17</span>
        </li>
      </ul>
    </div>
    <div class="side-info hidden-phone">
      People who subscribe to <%= @user.first_name %> also subscribed to:<br>
      [Tracker here]<br>
      [Tracker here]<br>
      [Tracker here]<br>
      [Tracker here]<br>
      [Tracker here]<br>
      [Tracker here]<br>
      [Tracker here]<br><br>

      [Advertisement here]<br>
      [Advertisement here]<br>
    </div>
  </div>
  <div class="span9">
    <div class="catalog-head">
      <h3>Articles</h3>
    </div>
    <div class="catalog">
      <div class="row-fluid"> 
        <% @publications.each do |article| %>
        <div class="span4 article-thumb">
          <div class="thumb-head"><%= link_to article.title, member.publication_path(article.id) %></a></div>
          <div class="thumb-body">
            <p><%= truncate_to_paragraph(article.content) %></p>
          </div>
          <div class="thumb-foot"><%= link_to "Read full article", member.publication_path(article.id) %></div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
